<div class="container">
    <div class="row">
	    <div class="col-md-12 text-center" id="top">
            <h1> Eat Da Burger </h1>
			<img src="/images/burger.jpg" alt="burger" />
		</div>
		<div class="col-md-5 text-center" id="created" class="task">
		    <div class="row">
                <h3>Burgers to be Devoured</h3>
			    {{#each burgers}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}.{{this.burger_name}}</pre> 
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input type="hidden" class="burger_id" type="text"><br>
						<button type="submit" class="btn btn-default devour" data-id={{id}}>Devour it!</button>
					</form>
				</div>
				{{/unless}}
			    {{/each}}
			</div>
		</div>
		<div class="col-md-5 text-center" id="eaten" class="task">
            <h3>Burgers that have been Devoured</h3>
			{{#each burgers}}
			{{#if this.devoured}}
				<form>
					<input class="form-control eaten" type="text" placeholder="{{this.id}} . {{this.burger_name}}">
					<button type="clear" class="btn btn-default clear" data-id={{this.id}}>Clear</button>
				</form>
				<p>Click the "Clear" button to clear burgers devoured.</p>
			{{/if}}
			{{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" class="create-form" method="POST">
				<input type="text" class="form control" name="burger_name" id="enter-text">
				<button type="submit" class="btn btn-dark" id="text-button">Submit</button>
				{{!-- <button name="ClearForm" type="clear" class="btn btn-dark" id="clear-button">Clear</button> --}}
			</form>
			<p>Enter a burger you want to devour then Click the "Submit" button.</p>
			{{!-- <p>Click the "Clear" button to clear burgers devoured.</p> --}}
		</div>
	</div>
</div>